<h1>Editing friend</h1>

<% form_for(@friend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :hashed_password %><br />
    <%= f.text_field :hashed_password %>
  </p>
  <p>
    <%= f.label :salt %><br />
    <%= f.text_field :salt %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @friend %> |
<%= link_to 'Back', friends_path %>