<h1>Editing friend</h1>

<% form_for(@friend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </p>
  
  <p>
    <%= f.label :password_confirmation, 'Confirm' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :gender %><br />
    Male
  	<%= f.radio_button :gender, "Male" %>
  	Female
	<%= f.radio_button :gender, "Female" %>
  </p>
  
  <p>
    <%= f.label :relationship %><br />
    <%= f.text_field :relationship %>
  </p>
  
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
   <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @friend %> |
<%= link_to 'Back', friends_path %>