

<div id= "titlebar">
<titletext>Welcome back, First Name</titletext>
<li><a class ="titleLink" href="#about">Logout</a></li>
</div>

</br>

<p style="color: green"><%= flash[:notice] %></p>

<div id="personDisplay">
<center>
<img src=<%=h @user.image_url %> alt="<NAME OF PERSON HERE>" />
<br>
<%=h @user.name %>
</center>
</div>

<div id="recentviewed">
<p><headertext><white>Files recently viewed by <%=h @user.name %> </br></white></headertext></p>
<% @user.contents.each do |content| %>
  <tr>
  <td>
    <%=h content.url %>
    </br>
    <img src=<%=h content.thumbnail_url %> />
	</td>
  </tr>
<% end %>


<br>
<div id="buttonbar">
<headertext><white>Add more now:</white></headertext>

<tr>
<td>
<%= button_to "Record New", {:controller => 'contents', :action => "new", :id => @user }, {:id => "btnContent", :class => "btn" } %>
</td>
<td>
<%= button_to "Upload File", {:controller => 'contents', :action => "new", :id => @user }, {:id => "btnFile", :class => "btn" } %>
</td>
<td>
<%= button_to "Import from Facebook", {:controller => 'contents', :action => "new", :id => @user }, {:id => "btnFacebook", :class => "btn" } %>
</td>
</tr>

</div>
</div>


<div id="otherpeople">
Other people keeping in touch with <%=h @user.name %>.
<img src="http://t1.gstatic.com/images?q=tbn:2XRp19aQUDU3BM:http://www.vaughan.org/bios/wtk/HobbyHorseRider/images/big/lilburn.jpg" alt="<NAME OF PERSON HERE>" />
<br>
</div>


