<h1>New user</h1>

<p style="color: green"><%= flash[:notice] %></p>
<% form_for :user, :html => { :multipart => true }  do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  
  <p>
    <%= f.label :profilepic %><br />
    <%= f.file_field :profilepic %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>