<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<%= image_tag @user.photo.url(:thumb) %>
<%= image_tag @user.profilepic.url(:thumb) %>

<p>
<% (@user.contents).each do |content| %>
  <tr>
    <td><%=h content.url %></td>
  </tr>
<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>