<p>
  <b>Url:</b>
  <%=h @content.url %>
</p>

<p>
  <b>Watched:</b>
  <%=h @content.watched %>
</p>


<%= image_tag @content.photo.url(:thumb) %>
<%= image_tag @content.photo.url(:small) %>
<%= image_tag @content.photo.url(:large) %>
<%= @content.vid.path %>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>