<div class="depot-form">

  <fieldset>
    <legend>Please Enter Your Details</legend>

    <% form_for :friend do |form| %>
      <p>
        <label for="friend_name">Name:</label>
        <%= form.text_field :name, :size => 40 %>
      </p>

	  <p>
   		<%= f.label :email %><br />
 	   	<%= f.text_field :email %>
 	 </p>

      <p>
        <label for="friend_password">Password:</label>
        <%= form.password_field :password, :size => 40 %>
      </p>

      <p>
        <label for="friend_password_confirmation">Confirm:</label>
        <%= form.password_field :password_confirmation, :size => 40 %>
      </p>

      <%= submit_tag "Add User", :class => "submit" %>
    
    <% end %>  
  </fieldset>
</div>