<h1>Editing click</h1>

<% form_for(@click) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :timeclicked %><br />
    <%= f.text_field :timeclicked %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @click %> |
<%= link_to 'Back', clicks_path %>