<h1>Listing clicks</h1>

<table>
  <tr>
    <th>Timeclicked</th>
  </tr>

<% @clicks.each do |click| %>
  <tr>
    <td><%=h click.timeclicked %></td>
    <td><%= link_to 'Show', click %></td>
    <td><%= link_to 'Edit', edit_click_path(click) %></td>
    <td><%= link_to 'Destroy', click, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New click', new_click_path %>